absl-py==2.2.2
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
arsenic==21.8
astunparse==1.6.3
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
efficientnet==1.1.1
flake8==7.1.1
Flask==3.1.1
flask-cors==6.0.0
flatbuffers==25.2.10
fonttools==4.55.0
frozenlist==1.4.1
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
h11==0.14.0
h5py==3.13.0
idna==3.8
image-classifiers==1.0.0
imageio==2.37.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
keras==3.10.0
Keras-Applications==1.0.8
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.3
mccabe==0.7.0
mdurl==0.1.2
ml_dtypes==0.5.1
multidict==6.0.5
namex==0.0.9
networkx==3.4.2
numpy==2.1.0
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.15.0
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.2
pillow==11.0.0
protobuf==5.29.4
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
Pygments==2.19.1
pyparsing==3.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
rich==14.0.0
scikit-image==0.25.2
scikit-learn==1.5.2
scipy==1.14.1
segmentation-models==1.0.1
selenium==4.24.0
setuptools==74.1.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
structlog==20.2.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
threadpoolctl==3.5.0
tifffile==2025.5.10
tk==0.1.0
tqdm==4.66.5
trio==0.26.2
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
verysimplemodule @ file:///C:/Users/hamza/Desktop/Python-for-Data-Scienc/Python-0-Starting/ex09
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
wsproto==1.2.0
yarl==1.9.7
